apiVersion: 1

datasources:
  - name: Postgres
    type: postgres
    access: proxy
    url: db:5432
    database: tracefield
    user: postgres
    isDefault: true
    secureJsonData:
      password: postgres
    jsonData:
      sslmode: disable
